Repository FEUP-ESOF-2020-21/open-cx-t1g4-gof, pull requests merged in 2020-12, with the labels that each got.

#58 Unit tests and Gherkin tests
  .gitignore
  lib/pages/Validators.dart
  pubspec.yaml
  test/test_driver/app.dart
  test/test_driver/features/Login.feature
  test/test_driver/steps/test_steps.dart
  test/test_driver/test_config.dart
  test/tests/conferenceCard_test.dart
  test/tests/questionCard_test.dart
  test/tests/validators_test.dart
  test/widget_test.dart
Labels: Iteration 4, flutter, test

#59 Added discord bot integration
  .gitignore
  discord-bot/cogs/admin.py
  discord-bot/cogs/participants.py
  discord-bot/cogs/utils/db_interactor.py
  discord-bot/firebase_controller.py
  discord-bot/main.py
  discord-bot/models/question.py
  discord-bot/models/talk.py
  discord-bot/schema.sql
  lib/pages/ConferenceFullPage.dart
Labels: Iteration 4, bot, discord, enhancement

#63 Iteration 4
  .gitignore
  README.md
  discord-bot/cogs/admin.py
  discord-bot/cogs/participants.py
  discord-bot/cogs/utils/db_interactor.py
  discord-bot/firebase_controller.py
  discord-bot/main.py
  discord-bot/models/question.py
  discord-bot/models/talk.py
  discord-bot/schema.sql
  docs/User_story_edit_empty_string_1.png
  docs/User_story_edit_empty_string_2.png
  docs/User_story_edit_empty_string_3.png
  docs/create_talk.gif
  docs/database.drawio
  docs/database.png
  docs/database.svg
  docs/increment_4_discord_bot.png
  docs/invites.gif
  docs/logical_architecture.drawio
  docs/logical_architecture.png
  docs/logical_architecture.svg
  docs/physical_architecture.drawio
  docs/physical_architecture.png
  docs/physical_architecture.svg
  docs/talk_selection.gif
  docs/use_cases.drawio
  docs/use_cases.svg
  lib/firebase/FirebaseController.dart
  lib/model/Question.dart
  lib/pages/ConferenceFullPage.dart
  lib/pages/HomePage.dart
  lib/pages/InvitationsPage.dart
  lib/pages/MyConferencesPage.dart
  lib/pages/QuestionListPage.dart
  lib/pages/Validators.dart
  lib/widgets/QuestionCard.dart
  lib/widgets/tags/Tag.dart
  pubspec.yaml
  test/app.dart
  test/features/Login.feature
  test/steps/test_steps.dart
  test/test_config.dart
  test/test_driver/app.dart
  test/test_driver/features/Login.feature
  test/test_driver/steps/test_steps.dart
  test/test_driver/test_config.dart
  test/tests/conferenceCard_test.dart
  test/tests/questionCard_test.dart
  test/tests/validators_test.dart
  test/widget_test.dart
Labels: Iteration 4
