Repository FEUP-ESOF-2020-21/open-cx-t1g4-gof, pull requests merged in 2020-11, with the labels that each got.

#8 Documentation
  README.md
  docs/increment_1_edit.png
  docs/increment_1_full_page_question.png
  docs/increment_1_question_list.png
  docs/use_cases.drawio
  docs/use_cases.svg
  pubspec.lock
Labels: documentation

#11 Create Conference page
  README.md
  android/app/build.gradle
  android/app/google-services.json
  android/build.gradle
  lib/Question.dart
  lib/firebase/FirebaseAuthenticator.dart
  lib/firebase/FirebaseController.dart
  lib/main.dart
  lib/model/Conference.dart
  lib/model/Moderator.dart
  lib/model/Question.dart
  lib/pages/AddConferencePage.dart
  lib/pages/EditQuestionPage.dart
  lib/pages/InquireScapeHome.dart
  lib/pages/LoginPage.dart
  lib/pages/QuestionFullPage.dart
  lib/pages/QuestionListPage.dart
  lib/widgets/InquireScapeDrawer.dart
  lib/widgets/TagEditorWidget.dart
  pubspec.lock
  pubspec.yaml
Labels: enhancement, flutter

#12 Firebase Integration
  lib/firebase/FirebaseController.dart
  lib/firebase/FirebaseListener.dart
  lib/main.dart
  lib/model/Moderator.dart
  lib/pages/AddConferencePage.dart
  lib/pages/ConferenceFullPage.dart
  lib/pages/InquireScapeHome.dart
  lib/pages/LoginPage.dart
  lib/pages/MyConferencesPage.dart
  lib/pages/QuestionListPage.dart
  lib/pages/Validators.dart
  lib/widgets/InquireScapeDrawer.dart
  lib/widgets/QuestionCard.dart
  lib/widgets/TagDisplayer.dart
  lib/widgets/TagEditorWidget.dart
  pubspec.lock
Labels: enhancement, firebase, flutter

#21 Firebase Integration
  lib/Question.dart
  lib/firebase/FirebaseController.dart
  lib/main.dart
  lib/pages/AddConferencePage.dart
  lib/pages/ConferenceFullPage.dart
  lib/pages/EditQuestionPage.dart
  lib/pages/InquireScapeHome.dart
  lib/pages/LoginPage.dart
  lib/pages/MyConferencesPage.dart
  lib/pages/PostQuestionPage.dart
  lib/pages/QuestionFullPage.dart
  lib/pages/QuestionListPage.dart
  lib/pages/Validators.dart
  lib/widgets/InquireScapeDrawer.dart
  lib/widgets/QuestionCard.dart
  lib/widgets/QuestionsHolder.dart
  lib/widgets/TagDisplayer.dart
  lib/widgets/TagEditorWidget.dart
  pubspec.lock
  pubspec.yaml
  test/app.dart
  test/features/Login.feature
  test/steps/test_steps.dart
  test/test_config.dart
Labels: firebase, flutter
